.chatContainer
  position: fixed
  float: right
  top: 30%
  width: 290px
  border-radius: 8px
  box-sizing: border-box
  background-color: #f9fafb
  height: 390px
  z-index: 500
  overflow: visible
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1)
  left: -290px
  transition: left ease 0.25s

.mainSection
  background-color: #f9fafb

.buttonsContainer
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin-top: 4px

.button
  box-sizing: border-box
  border: 0
  cursor: pointer
  border-top-left-radius: 6px
  border-top-right-radius: 6px
  flex: 1
  background-color: #d6d1d1
  border-bottom: 2px solid #4e618d
  display: flex
  align-items: center
  justify-content: center
  height: 30px
  transition: all .1s

  &:not(.activeButton):hover
    color: #f9fafb
    background-color: #4e618d

.activeButton
  border: 0
  color: white
  z-index: 500
  color: #4e618d
  border: 2px solid #4e618d
  border-bottom: 2px solid #f9fafb
  background-color: #f9fafb

  &:last-child
    margin-right: 0

.chatHeader
  padding: 5px 0
  height: 50px
  background-color: #4e618d
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 1px
  z-index: 600

  img
    width: 120px

.toggleChat
  z-index: -5
  box-sizing: border-box
  cursor: pointer
  position: absolute
  top: 31px
  right: -62.5px
  -webkit-transform: rotate(90deg)
  transform: rotate(90deg)
  background-color: #8aca6b
  padding: 6px
  box-sizing: border-box
  border-top-right-radius: 8px
  border-top-left-radius: 8px
  color: white
  min-width: 94px
  text-align: center
  border: 2px solid #8aca6b
  transition: all .2s
  &:hover
    color: #8aca6b
    background-color: white

.showChat
  left: 0
