
.event
  position: relative
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 30px 20px
  background-color: #f0f0f0
  border-radius: 16px
  z-index: 0
  overflow: hidden
  gap: 0 25px

.eventProgress
  position: absolute
  height: 100%
  border-radius: 16px
  left: 0
  background: rgb(184,255,180)
  background: linear-gradient(90deg, rgba(184,255,180,1) 0%, rgba(45,255,80,1) 100%)

.eventText
  z-index: 10
