
%errorText
  box-sizing: border-box
  font-size: 18px
  text-align: center
  padding: 10px
  font-weight: 600
  width: 100%
  margin: 0 auto
  color: #4e618d

//TODO! choose one
%formFieldError
  font-size: 16px
  text-align: center
  padding: 5px
  font-weight: bold
  color: white
  border-radius: 4px
  background-color: #b72522


%formFieldErrorV2
  font-size: 16px
  text-align: center
  padding: 5px
  font-weight: bold
  color: white
  border-radius: 4px
  background-color: #b72522


